html {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #fffffe;
}

a:hover {
    color: #D54A36;
    transition: all 150ms;
}

header {
    font-weight: bold;
}

header li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#glower {
    height: 200px;
}

footer a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}