body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #fff;
}

body::before {
    content: "";
    background-image: url("./img/paper_background.jpeg");
    background-attachment: fixed;
    z-index: -10;
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
}

a {
    color: #ff7167;
}

.font-medium {
    font-size: 3rem;
    line-height: 2.5rem;
}

.font-large {
    font-size: 10rem;
    line-height: 8rem;
}

#glower-logo {
    height: 500px
}

#glower-foto-dark {
    filter: brightness(40%);
    z-index: -1;
}

.icon-link {
    text-decoration: none;
}

#release-container {
    height: 500px;
}

#release-image {
    width: 500px;
    z-index: -1;
}

#press-container {
    height: 800px;
}

#press-text {
    width: 60%;
}

/* eye flag */
.eye-flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.eye-flag img {
    width: 100px;
    padding-right: 1rem;
}

.eye-flag span {
    font-size: 2rem;
    text-transform: uppercase;
}

/* live date */
/* overwrite default widget styles */
.bit-event-buttons {
    display: none !important;
}

.bit-location {
    text-align: end !important;
}