body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #fff;
}

body::before {
    content: "";
    background-image: url("./img/paper_texture.png");
    background-attachment: fixed;
    z-index: -1;
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
}

a {
    color: #5EAD8E;
}

.orange {
    background-color: #c1513b;
    color: #fff;
}

.font-medium {
    font-size: 3rem;
    line-height: 2.5rem;
}

.font-large {
    font-size: 10rem;
    line-height: 8rem;
}

#contact-foto {
    height: 400px;
    object-fit: cover;
    object-position: 50% 15%;
    width: 100%;
}

#glower-logo {
    height: 300px
}

#glower-logo-float {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.icon-link {
    font-size: 2rem;
    text-decoration: none;
}

/* eye flag */
.eye-flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.eye-flag img {
    width: 100px;
    padding-right: 1rem;
}

.eye-flag span {
    font-size: 2rem;
    text-transform: uppercase;
}

/* live date */
/* overwrite default widget styles */
.bit-event-buttons {
    display: none !important; 
}

.bit-location {
    text-align: end !important;
}